WebBin2Dec2Bin/src/conf/xml-resources/web-service-references/Conversions/wsdl/localhost_8080/Conversions/Conversions.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://conversionsService.servicesbin2dec2bin/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://conversionsService.servicesbin2dec2bin/">

<xs:element name="bin2dec" type="tns:bin2dec"/>

<xs:element name="bin2decResponse" type="tns:bin2decResponse"/>

<xs:element name="dec2bin" type="tns:dec2bin"/>

<xs:element name="dec2binResponse" type="tns:dec2binResponse"/>

<xs:complexType name="dec2bin">
<xs:sequence>
<xs:element name="dec" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dec2binResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bin2dec">
<xs:sequence>
<xs:element name="bin" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bin2decResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>